@import "./bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css");

$purple: #2f2d49;

html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  z-index: 10;
}
main {
  flex-grow: 1;
  margin: -2.2rem 0 0;
  padding: 0 0 2rem;
}
footer {
  min-height: 4rem;
  background-color: $purple;
  color: $white;
}
.footer-logo {
  display: flex;
  gap: 1rem;
}
.navbar {
  background-color: $purple;
  .navbar-nav {
    align-items: end;
  }
}
.container {
  width: 80%;
}
.container-fluid {
  --bs-gutter-x: 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 11rem;
  color: $white;
  text-decoration: none;
  p {
    font-size: 0.5rem;
    margin: 0;
  }
}
.logo:hover {
  color: $white;
}
.hide-finder {
  position: relative;
  width: 100%;
  height: 1rem;
  display: block;
  background: $purple;
}
#map {
  width: 100%;
  height: 200px;
}
.mapboxgl-marker {
  background-image: url("/src/img/mapbox-marker-kz.svg");
  background-size: cover;
  width: 35px;
  height: 53px;
  cursor: grab;
}
.border-radius-none {
  border-radius: unset;
}
